{% extends 'base.html' %}
{% block head %}
<title>Change password</title>
{% endblock %}
{% block body %}
<br/>

<!-- query panel -->
    <div class=" panel panel-primary">
        <div class="panel-heading">
            Change password
        </div>
        <div class="container-fuid panel-body form-inline">
            <div id="div_oldPassword" class="row" style="padding:5px">
                <div class="input-group col-md-2">
                    <label for="usrRole"><span class="fa fa-key fa-fw"></span> Password cũ*: </label>
                </div>
                <input type="password" name="text" id='txt_old_password' class="form-control ">
            </div>
            <div class="row" style="padding:5px">
                <div class="input-group col-md-2">
                    <label for="usrRole"><span class="fa fa-key fa-fw"></span> Password mới*: </label>
                </div>
                <input type="password"  name="text" id='txt_password1' class="form-control ">
            </div>
            <div class="row" style="padding:5px">
                <div class="input-group col-md-2">
                    <label for="usrRole"><span class="fa fa-key fa-fw"></span> Xác nhận password mới*: </label>
                </div>
                <input type="password" name="text" id='txt_password2' class="form-control ">
            </div>
            <div class="input-group col-md-3">
                <center><button id ="btn_change_password" class="btn btn-primary btn-default">Change password</button></center>
            </div>
        </div>
    </div>
<!-- query panel end -->




{% endblock %}

{% block scripts %}
<script>

$(document).ready(function() {

    //VerifyToken(function(res) {}, genericFailCB)
    token = findGETParameter("token")
    if(token != null && token.length == 24)
    {
        $("#div_oldPassword").hide()
    }

    $("#btn_change_password").click(function() 
    {
        var oldPass = document.getElementById("txt_old_password").value
        var newPass1 = document.getElementById("txt_password1").value
        var newPass2 = document.getElementById("txt_password2").value
        
        if(newPass1 == '' || newPass2 == '')
        {
            showError("Nhập thiếu")
            return
        }

        if(newPass1 != newPass2 )
        {
            showError("Password mới không giống nhau")
            return
        }

        
        if(token == null)
            token = Cookies.get('token')

        request_data = {
                            "token": token,
                            "password": oldPass,
                            "newPassword": newPass1
                        }
        host_request = gethost() + '/api/user/changepassword'
        ajaxRequest("POST", host_request ,request_data, onChangeSuccess, genericFailCB)
    });

    function onChangeSuccess(res)
    {
        showNotice(res["Success"])
        var count = 2;
        var countdown = setInterval(function(){
            if (count == 0)
            {
                clearInterval(countdown);
                window.location.href = "/login"
            }
            count--;
        }, 1000);
    }
});

</script>

{% endblock %}