{% extends 'base.html' %} {% block head %}
<title>Kiểm tra khẩu trang</title>
{% endblock %} {% block body %}


<!-- <h2 id="lbl_status" style="color: green;">Webcam from frontend</h2>
<div class="col-md-6">
    <h4 id="backend_time"></h4>
    <h4 id="num_face"></h4>
</div> -->
<!-- <div class="col-md-6">
    <button id ="btn_stopWebcam" class="btn btn-primary btn-default pull-right"> Stop webcam</button> </br>
</div> -->

<div class="row">    
    <div class="col-md-12" style="height: auto;">
        <div class=" panel panel-primary">
            <div class="panel-heading">
                <span id="lbl_total">Kiểm tra khẩu trang</span>                
            </div>
            <div class="container-fuid panel-body form-inline">
                
                <div class="row">
                    <center>
                        <button id ="btn_compare" class="btn btn-primary btn-success" style="font-size: 2em;" disabled>
                            <span class="fa fa-compress-alt"></span> Detect facemask</button>
                    </center>
                </div>
                <div class="row">
                    <center> 
                        <div class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;" >
                            <h3 id="lbl_status" style="color: green;">Ready</h3>
                            <div id="loading_icon"  class="spinner-border text-success"  role="status" style="width: 50px; height: 50px; display: none;"></div>
                        </div>        
                    </center>
                </div>
                <div class="row">
                    <div class="col-md-6">   
                        <center> 
                            <button id ="btn_startWebcam" class="btn btn-primary btn-default">
                                <span class="fa fa-camera"></span> Start webcam</button>
                            <button id ="btn_takePicture" class="btn btn-primary btn-default"  style="display: none;">
                                <span class="fa fa-camera"></span> Take picture</button>
                            <button id ="btn_selectImage" class="btn btn-primary btn-default">
                                <span class="fa fa-upload"></span> Select image</button>      
                        </center>
                    </div>
                    <div class="col-md-6">   
                        <center><h3>Result</h3> </center>                        
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">   
                        <center>
                            <canvas id="canvasWebcam" style="max-width: 100%; display: none;" ></canvas>
                            <video id="video1" style="max-width: 100%; display: none;">Your browser does not support the video tag.</video>
         
                            <input id="uploadImage" type="file" class="inputFile" style="display: none;"/> 
                            <img id="img_source" style="max-width: 100%">
                        </center>     
                    </div>
                        
                    <div class="col-md-6">
                        <center>
                            <img id="img_result" style="max-width: 100%">
                        </center>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>

g_videoWidth = 640
g_videoHeight = 480

g_startTime = new Date();
g_endTime = new Date();

g_status = "Ready"
$(document).ready(function () 
{   

    aspect = window.screen.availWidth / window.screen.availHeight
    if(aspect < 1)
    {
        g_videoWidth = 480
        g_videoHeight = 640
    }

});

function PrintSuccess(msg)
{
    document.getElementById("lbl_status").innerText = msg
    document.getElementById("lbl_status").style.color = "green"
}

function PrintError(msg)
{
    document.getElementById("lbl_status").innerText = msg
    document.getElementById("lbl_status").style.color = "red"
}

$("#btn_startWebcam").click(function () {
    document.getElementById("canvasWebcam").style.display = "none"
    document.getElementById("img_source").style.display = "none"
    document.getElementById("video1").style.display = "block"

    video = document.querySelector("#video1");
    if (navigator.mediaDevices.getUserMedia) 
    {
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (s) {
                stream = s
                video.srcObject = stream;
                video.play();

                document.getElementById("btn_startWebcam").style.display = "none"
                document.getElementById("btn_takePicture").style.display = "inline"
            })
            .catch(function (e) {
                console.log(e);
            });
    }
})

$("#btn_takePicture").click(function () 
{    
    document.getElementById("canvasWebcam").style.display = "block"
    document.getElementById("btn_startWebcam").style.display = "inline"
    document.getElementById("btn_takePicture").style.display = "none"
    document.getElementById("video1").style.display = "none"

    canvas = document.getElementById('canvasWebcam');
    var context = canvas.getContext('2d');
    canvas.width = g_videoWidth;
    canvas.height = g_videoHeight;
    context.drawImage(video, 0, 0, g_videoWidth, g_videoHeight);	

    
    video = document.querySelector("#video1");
    video.pause();
    video.srcObject=null;
    stream.getVideoTracks()[0].stop();

    g_base64_string1 = canvas.toDataURL() + "=="

    CheckCondition()
})

$("#btn_selectImage").click(function () {
    $("#uploadImage").click()
})


$("#uploadImage").on('change', function(e){
    document.getElementById("video1").style.display = "none"

    g_base64_string1 = ""
    if (this.files && this.files[0]) 
    {    
        //load image to canvas
        var URL = window.URL;
        var url = URL.createObjectURL(e.target.files[0]);

        img_source = document.getElementById("img_source")
        img_source.onload = function()
        {
            g_base64_string1 = ResizeImage(img_source, g_videoWidth)
            CheckCondition()
        }
        img_source.src = url;        

        document.getElementById("canvasWebcam").style.display = "none"
        document.getElementById("img_source").style.display = "block"
    }
})


function ResizeImage(img, maxWidth)
{
    newWidth = img.width
    newHeight = img.height
    
    if(img.width > maxWidth)
    {
        newWidth = maxWidth
        newHeight = ((img.height * maxWidth ) / img.width)
    }

    

    // create an off-screen canvas
    var canvas = document.createElement('canvas'),
    ctx = canvas.getContext('2d');

    // set its dimension to target size
    canvas.width = newWidth;
    canvas.height = newHeight;

    // draw source image into the off-screen canvas:
    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

    // encode image to data-uri with base64 version of compressed image
    return canvas.toDataURL() + "==";
}

function CheckCondition()
{
    if(g_base64_string1 == "")
    {
        document.getElementById("btn_compare").disabled = true
    }
    else
    {
        document.getElementById("btn_compare").disabled = false
    }
}

$("#btn_compare").click(function () {    
    if(g_status != "Ready")
        return

    PrintSuccess("")
    
    document.getElementById("loading_icon").style.display = "block"

    g_status = "Sending"
    g_startTime = new Date()

    g_base64_string1 = g_base64_string1.replace("data:image/jpeg;base64,", "")
    g_base64_string1 = g_base64_string1.replace("data:image/png;base64,", "")

    var myFormData = new FormData();
    myFormData.append('imageBase64', g_base64_string1);
    myFormData.append("isBase64", "True");
    
    host_request = gethost() + "/api/facemask/detect"
    ajaxUpload("POST", host_request, myFormData, onDetectSuccess, onDetectFailed);
})

function onDetectSuccess(res)
{
    g_status = "Ready"
    document.getElementById("loading_icon").style.display = "none"
    document.getElementById("img_result").style.display = "block"
    document.getElementById("img_result").src = "data:image/png;base64," + res.image_base64    
    PrintSuccess("Elapsed: " + res.elapsed + " s")
}

function onDetectFailed(res)
{
    document.getElementById("loading_icon").style.display = "none"
    ShowToast(res["responseJSON"]["Error"])

    setTimeout(function (){
        location.reload();
    }, 1000);
}

</script>
{% endblock %}